/* HERO SECTION */
.hero {
  background-color: #ea2127;
  min-height: 100vh;
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
}

.hero__logo {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero__logo img {
  width: 11.5rem;
  height: 11.5rem;
}

.hero__brand {
  color: #fff;
  font-family: Montserrat;
  font-size: 11.2rem;
  font-weight: 800;
  line-height: 120%; /* 13.44rem */
  letter-spacing: 1.2rem;
}

.hero__menu-icon {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.hero__slider {
  margin-top: 23rem;
  margin-left: 18.7rem;
  width: calc(100% - 18.7rem);
  overflow: hidden;
}

.hero__tagline {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: "Act of Rejection", sans-serif;
  font-size: 14rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8rem */
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  position: absolute;
  transform: translate(-3%, -60%);
}

.hero__slider-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.hero__slider-image {
  width: 35.7rem;
  height: 39.7rem;
  object-fit: cover;
  border-radius: 1.2rem;
}

.hero__slider-title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 120%; /* 1.92rem */
  letter-spacing: 0.008rem;
  margin-top: 1.6rem;
}

.hero__price-container {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%; /* 2.4rem */
  letter-spacing: 0.01rem;
  margin-top: 1.2rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.hero__price--regular {
  text-decoration: line-through;
}

/* BEST SELLING SECTION*/
.best-selling {
  background: #f6f5f5;
  padding: 10rem 0;
  color: #060606;
}

.best-selling__title {
  -webkit-text-stroke-width: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  font-weight: 600;
  line-height: 120%; /* 8.4rem */
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.best-selling__title--offer {
  display: block;
}

.best-selling__title--description {
  font-family: "Inter", sans-serif;
  background: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  border: none;
  -webkit-text-stroke: 1px #060606;
}

.best-selling__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  margin-top: 4.8rem;
}

.best-selling__card {
  padding: 1.6rem 1.6rem 2.4rem 1.6rem;
  border-radius: 1.2rem;
  background: #fff;
}

.best-selling__card-image {
  width: 100%;
  height: 33.3rem;
}

.best-selling__card-title {
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.008rem;
  margin-top: 3rem;
  font-size: 1.6rem;
}

.best-selling__price {
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.01rem;
  margin-top: 1.6rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.best-selling__price--regular {
  color: #9b9b9b;
  text-decoration: line-through;
}

/* SIGNED SECTION*/
.signed-collection {
  background: #111;
  padding: 10rem 0;
}

.signed-collection__container {
  display: flex;
  align-items: center;
  gap: 8.5rem;
}

.signed-collection__title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 4.9rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.signed-collection__title--main {
  font-size: 7rem;
  font-weight: 700;
  display: block;
}

.signed-collection__text {
  display: block;
  margin-top: 2.4rem;
  background: linear-gradient(180deg, #de2a2f 0%, #ef5256 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signed-collection__button {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 1.2rem;
  background: #fff;
  margin-top: 4.8rem;
}

.signed-collection__button-label {
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.008rem;
}

.signed-collection__button-icon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.signed-collection__image--primary {
  height: 22.3rem;
  flex-shrink: 0;
  margin-top: 2.5rem;
}

.signed-collection__media {
  height: 58.8rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.signed-collection__image--secondary {
  height: 100%;
}

.signed-collection__image--your-next-move {
  height: 51.8rem;
}

/* QUOTE SECTION */
.quote-section {
  background: linear-gradient(90deg, #ec3339 0%, #bb1117 100%);
}

.quote-section__container {
  display: flex;
  align-items: center;
}

.quote-section__content {
  position: relative;
}

.quote-section__icon {
  position: absolute;
  transform: translate(-20%, -65%);
}

.quote-section__text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.024rem;
  text-transform: uppercase;
}

.quote-section__image-wrapper {
  position: relative;
  height: 58rem;
}

.quote-section__image {
  height: 72.5rem;
  max-width: 57.1rem;
  position: relative;
  bottom: 0;
  transform: translateY(-20%);
}

/* FOOTER */
.footer {
  background: #000;
  padding: 4.8rem 0;
}

.footer__branding {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.footer__logo {
  width: 11.2rem;
  height: auto;
}

.footer__brand-name {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 10rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.5rem;
}

.footer__divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 3.2rem 0 4.8rem;
  background: rgba(166, 165, 163, 0.5);
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10rem;
}

.footer__subscription {
  grid-column: 1 / span 2;
}

.footer__subscription-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.012rem;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4.8rem;
}

.footer__input {
  height: 4.3rem;
  padding: 1.2rem;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.008rem;
  text-align: center;
  color: #fff;
  border-radius: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}

.footer__submit {
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
  background: #fff;
  color: #222;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.008rem;
}

.footer__section-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.01rem;
  margin-bottom: 2.4rem;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer__link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.008rem;
  text-decoration: none;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.008rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer__contact-detail {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer__icon {
  width: 20px;
  height: auto;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer__socials li {
  list-style: none;
}

.footer__bottom {
  margin-top: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  flex-wrap: wrap;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.008rem;
}

.footer__payment-options {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.footer__payment-options img {
  width: 3.2rem;
  height: auto;
}
